
/* additional */
 /* google fonts */
     
   
       @import url('https://fonts.googleapis.com/css?family=Cinzel|Libre+Barcode+39+Text|Teko');
       @import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Cinzel|Libre+Barcode+39+Text');
    /* header */   
       
       
       header img {padding-left: 39rem;
                   padding-bottom: 3rem;
                  }
       

       
       header {margin-top: 1.5rem;
               margin-left: 5rem;
               margin-right: 5rem;}
       
       h1 {font-family: 'Libre Barcode 39 Text', cursive;
           text-align: center;
           font-size: 500%;}
       
       aside {padding-bottom: 5rem;}
       ul {align-self: center;
           list-style-type:none;
           margin: 0rem;
           padding-top: 2rem;
           padding-left: 4rem;
           width: 10%;
           background-color: ;
           opacity: 0.9;
           position: fixed;
           height: 100%;
           overflow: auto;
       }
       
       li a {
             
           margin: 3px;
           display:block;
           color:rosybrown;
           padding: 20px 13px;
           text-decoration: none;}
       
 
       li a.active {color: white;}

li a:hover:not(.active) {
    background-color: gainsbsoro;
    color: white;}
       
/* body */

body {background: white; }
@media screen and (min-width: 400px) {
    body {
        background-color: lightpink;
    }
}

@media screen and (min-width: 800px) {
    body {
        background-color: lightgoldenrodyellow;
    }
}


       
  /*items listing */
       
       .item-container {margin-top: 0;
                        margin-left: 15rem;
                        margin-right: 40rem;
           
           float: left;
            
       display: flex;
       flex-direction: column;
       }
       
       
       .item-container img {width: 12rem;
                            margin-right: 15rem;}
       
       .first {display: flex;
               flex-direction: row;
               justify-content: space-around;
               margin-left: 10rem;
               margin-top: 5rem;}
      
       .second {display: flex;
               flex-direction: row;
               justify-content: space-around;
               margin-left: 10rem;
               margin-top: 5rem;}
       
       .third {display: flex;
               flex-direction: row;
               justify-content: space-around;
               margin-left: 10rem;
               margin-top: 5rem;}
      
       .fourth {display: flex;
               flex-direction: row;
               justify-content: space-around;
               margin-left: 10rem;
               margin-top: 5rem;}
       
       
       p {font-family: 'Teko', sans-serif;
          font-size: 110%;
          color: saddlebrown;}
       
       h3 {font-family: 'Alfa Slab One', cursive;
          font-size: 130%;
          margin-bottom: 3rem;}
       
       h2 {font-family: 'Alfa Slab One', cursive;
          font-size: 200%;}
    
/* media */


@media (max-width: 720px) {
 header {
   display: flex;
  flex-flow: wrap; 
    color: grey;
 }
}


@media (max-width: 720px) {
 header img {
   float: left;
   display: block;
   max-height: 100%;
 }
}

@media (max-width: 720px) {
 h1 {
   display: block;
   text-align: left;
 }
}

@media (max-width: 720px) {
 h2 {
   display: block;
   text-align: left;
 }
}

@media (max-width: 720px) {
 h3 {
   display: block;
   text-align: left;
 }
}

@media (max-width: 720px) {
 h3 {
   display: block;
   text-align: left;
 }
}


@media (max-width: 720px) {
 header {
   width: 50%;
 }
}


@media (max-width: 720px) {
 body {
   width: 50%;
 }
}


/* above is what i added */



body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
img {
  max-height: 20rem;
}

/***************** NAV *****************/

nav a:hover {
  text-decoration: underline;
}

/**************** HERO *****************/

header img {
  max-height: 6rem;
}

h1 .logo-w {
  font-size: 3.5rem;
}

/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

section {
  padding: 0 .75rem;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}
